body{
    margin: 0;
}
.header{
    background-color: gainsboro;
    overflow: hidden;
}
.container{
    width: 70%;
    padding-left: 15%;
}
.header .logo{
    float: left;
    font-size: 40px;
}
.header .navigation{
    float: right;
    margin-top: 40px;
}
.header .navigation li{
    float: right;
    display: block;
    margin-left: 20px;
}
.header .navigation li a{
    text-decoration: none;
}
.containerbody{
    width: 70%;
    padding-left: 15%;
}
/* .contoh2 p {
    background-color: darkviolet;
} */